h1 {
  text-align: center;
  font-size: 150px;

}

h3{
  text-align: justify;
  color: #ffffff
}
/*.blockimg {
  display: block;
}
*/
.imgbox {
  border: 0px solid #ffffff;

  background-color: #ffffff;

  .pixelwidth {
    border: 1px solid #ff0000;
    width: 50px;
  }
}

body {
  font-size: 120%;
  color: #0089de;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(soul.jpg);
background-repeat: no-repeat;
background-position: top left;
background-image: url(PG.png);
background-position: bottom center;

}

.pwidth {
width: 100px;
color: #0089de ;
text-align top right;

}
.pxfont {
  font-size: 16px;
}

nav li {
  padding: 10px;
  margin: 10px;
  border-top: 10px;
  width: 150px;
  text-decoration: none;
  list-style-type: none;
}

nav li a {
  color: #0089de;
  text-decoration: none;
  display: block;
  text-align: center;
}
