body {
  background-color: #424242;
}

#wrapper {
  margin: 1em auto;

  width: 960px;
  border: 5px solid #52bdff;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat (12, 1fr);
  /*grid-template-rows: 100px auto 75px;*/
}

header {
  grid-column: span 12;
  font-family: helvetica;
  color: #52bdff;
  background-image: linear-gradient(to right top, #1874ff, #1065dc, #0d57bb, #0d489a, #0f3a7a);
  padding-left: 5px;
}

header a {
  color: #ffffff;
  padding: 5px;
  text-decoration: none;
}

header a:hover {
  color: #0f3a7a;
}

main {
  grid-column: span 9;
  padding: 1em;
}

footer {
  grid-column: span 12;
  text-align: center;
  background-color: #f01313;
  color: #ffffff;
}

nav {
  grid-column: span 12;
  background-image: linear-gradient(to right top, #1874ff, #1065dc, #0d57bb, #0d489a, #0f3a7a);
}

h2 {
  font-family: helvetica;
  color: #52bdff;
  border-bottom: 3px solid #52bdff;
  padding-bottom: 1em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #52bdff;
}

nav li {
  display: inline-block;
  padding: 0px;
  border: 1px solid #52bdff;
  margin: 5px;
  width: 150px;
  background-color: #52bdff;
  background-image: linear-gradient(to right top, #1874ff, #1065dc, #0d57bb, #0d489a, #0f3a7a);
}

nav li a {
  color: #ffffff;
  display: block;
  padding: 5px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #0f3a7a;
}

main a {
  color: #f01313;
  text-decoration: none;
}

.floatimage {
  margin: 20px;
  float: left;
  padding: 5px;
  border: 3px solid #52bdff;
}

.floatimageright {
  margin: 20px;
  float: right;
  padding: 5px;
  border: 3px solid #52bdff;
}



.p1 {
  font-family: Georgia;
  font-weight: bolder;
}
